---
layout: whitehall-layout.hbs
pageTitle: Civil Service Fast Stream

---

<div class="grid-wrapper">
  <div class="grid grid-1-3">
    <div class="inner-block-padr">
      <div class="logo">
        <h1><span class="organisation-logo-stacked-single-identity-large"><span>Civil Service Fast Stream</span></span></h1>
          <p class="font-xsmall">
            Part of
            <a href="/government/organisations/civil-service-resourcing">Civil Service Resourcing</a>
          </p>
      </div>
    </div>
  </div>
  <div class="grid grid-2-3">
    <ul class="list-text">
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Lorem ipsum dolor.</a></h2>
      </li>
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Quae, id, natus.</a></h2>
      </li>
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Incidunt, illum mollitia.</a></h2>
      </li>
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Quisquam, iusto ex!</a></h2>
      </li>
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Eveniet, laudantium, quibusdam.</a></h2>
      </li>
      <li>
        <h2 class="bold-medium med-btm-margin"><a href="" class="link-unimp">Explicabo, ad, sunt.</a></h2>
      </li>
    </ul>
  </div>
</div>