---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      <a href="schemes.html">Schemes</a>
    </li>
    <li>
      <a href="eligibility.html">Eligibility</a>
    </li>
  </ol>
  <ol>
    <li>
      Application process
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">4. Application process</h1>


<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">

  </a>
  <a href="#" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Apply</span>
  </a>
</div>