---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      <a href="schemes.html">Schemes</a>
    </li>
    <li>
      <a href="eligibility.html">Eligibility</a>
    </li>
  </ol>
  <ol>
    <li>
      Application process
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">4. Application process</h1>

<table>
<col width="130">
  <!-- <thead>
    <tr>
      <th>Stage</th>
      <th>What you need</th>
    </tr>
  </thead> -->
  <tbody>
    <!-- <tr>
      <td colspan="2">At the start</td>
    </tr> -->
    <tr>
      <td><h4 class="heading-small">Step 1</h4><p>Start</p></td>
      <td><h4 class="heading-small">Fill in your online application form</h4><p>Once you know which scheme or schemes you're interested in, use the digital service to create an account and apply.</p>
      <p>
      This should take no longer than 30 minutes to complete. 
      </p>
      </td>
    </tr>
    <!-- <tr>
      <td colspan="2">1 week</td>
    </tr> -->
    <tr>
      <td><h4 class="heading-small">Step 2</h4><p>Week 1</p></td>
      <td><h4 class="heading-small">Take the online questionnaires</h4><p>After submitting your application form, we'll email you a link to 2 online questionnaires.</p>
      </td>
    </tr>
    <!-- <tr>
      <td colspan="2">3 weeks</td>
    </tr> -->
    <tr>
      <td><h4 class="heading-small">Step 3</h4><p>Week 3</p></td>
      <td><h4 class="heading-small">Complete the e-tray exercise and the video interview</h4><p>We'll send you a link to an e-tray exercise to complete and ask you to do a video interview.</p>
      </td>
    </tr>
    <!-- <tr>
      <td colspan="2">8 weeks</td>
    </tr> -->
    <tr>
      <td><h4 class="heading-small">Step 4</h4><p>Week 4 to 8</p></td>
      <td><h4 class="heading-small">Attend an assessment centre</h4><p>If you pass the online exercises, you'll be invited to attend an assessment centre.</p>
      <p>You'll complete the following exercises at the assessment centre:</p>
      <ul>
        <li>leadership exercise</li>
        <li>analysis exercise</li>
        <li>group exercise</li>
      </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">Your application is assessed</td>
    </tr>
    <tr>
      <td><h4 class="heading-small">Step 5</h4></td>
      <td><h4 class="heading-small">Final selection boards and numerical assessment</h4><p>For selected schemes, you may need to take a numerical test at this stage of the application process. Members of the selection boards may contact you as required.</p>
      </td>
    </tr>
    <tr>
      <td><h4 class="heading-small">Step 6</h4></td>
      <td><h4 class="heading-small">Your final results</h4><p>We aim to let you know the outcome of your assessment by March 2017.</p>
      </td>
    </tr>
    <tr>
      <td><h4 class="heading-small">Step 7</h4></td>
      <td><h4 class="heading-small">Your new role</h4><p>If your pre-appointment checks are successful, you'll start your new role in September 2017.</p>
      </td>
    </tr>
  </tbody>

</table>

<div class="page-navigation">
 <a href="eligibility.html" class="page-navigation__btn previous">
    <i class="arrow-button fa fa-angle-left"></i>
    <span class="description font-medium">Previous</span>
    <span class="counter">Eligibility</span>
  </a>
  <a href="/faststream/index.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Apply</span>
  </a>
</div>