---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      <a href="schemes.html">Schemes</a>
    </li>
    <li>
      Eligibility
    </li>
  </ol>
  <ol>
    <li>
      <a href="application-process.html">Application process</a>
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">3. Eligibility</h1>
<h2 class="heading-small">Check you're eligible for the Fast Stream:</h2>

<ul>
<li>I'm <a href="https://www.gov.uk/legal-right-work-uk">eligible to work in the UK</a></li>
<li>I have a <a href="#">relevant degree</a> or qualify as a current civil servant</li>
<li>I'm eligible according to the <a href="https://www.gov.uk/government/publications/nationality-rules">Civil Service nationality rules</a></li>
<li>If I'm currently a civil servant, or have previously worked for the Civil Service, I'm aware of the <a href="#">conditions that apply</a></li>
<li>I'm aware that some schemes have <a href="#">additional eligibility requirements</a></li>
</ul>



<div class="page-navigation">
  <a href="schemes.html" class="page-navigation__btn previous">
    <i class="arrow-button fa fa-angle-left"></i>
    <span class="description font-medium">Previous</span>
    <span class="counter">Schemes</span>
  </a>
  <a href="application-process.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Application process</span>
  </a>
</div>
