---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      <a href="schemes.html">Schemes</a>
    </li>
    <li>
      Eligibility
    </li>
  </ol>
  <ol>
    <li>
      <a href="application-process.html">Application process</a>
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">3. Eligibility</h1>
<h2>Check you're eligible for the Fast Stream:</h2>
<ul>
<li><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#age">Age</a>: I’ll be aged 16 or older by 31 August 2017</li>
<li><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#qualifications">Qualifications</a>: I hold a degree with a 2:2 grade or higher, or I expect to have this qualification by 31 August 2017. 
(For some schemes you need a higher qualification or a qualification in a particular subject area (eg a science degree).)</li>
<li><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#nationality">Nationality</a>: I’m eligible according to the Civil Service nationality rules</li>
<li><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#where-you-live">Where you’ve lived</a>: I’ve been resident in the UK for at least 2 of the 10 years immediately before my application (and this includes at least one continuous 12-month period).</li>
<li>I’m eligible to work in the UK</li>
<li>I’m available to start work in September 2017.</li>
<li><a href="https://www.gov.uk/guidance/civil-service-fast-track-apprenticeship-who-can-apply#conditions-for-existing-civil-servants">Conditions for current civil servants</a>: If I’m currently a civil servant, or have previously worked for the Civil Service, I’m aware of the conditions that apply.</li>
</ul>



<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">

  </a>
  <a href="application-process.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Application process</span>
  </a>
</div>