---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      Overview
    </li>
    <li>
      <a href="who-apply.html">Who can apply</a>
    </li>
  </ol>
  <ol>
    <li>
      <a href="how-apply.html">How to apply</a>
    </li>
    <li>
      <a href="apply-now.html">Apply for Fast Stream</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">1. Overview</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure alias aliquam labore tenetur, tempora hic quae odio saepe rem, veniam quia excepturi porro dolor suscipit rerum dignissimos. Unde, inventore doloremque?</p>
<p>Quod molestiae sapiente delectus ea iusto doloremque molestias nisi facere voluptas numquam quae voluptates nihil dicta provident natus totam non, placeat. Ipsam laboriosam laudantium, mollitia vitae. Libero ratione, consectetur quisquam?</p>
<p>Dicta, quam fugit consequatur facilis excepturi nemo voluptate, ipsa praesentium. Nisi nobis mollitia inventore, obcaecati molestias recusandae ea et aspernatur esse, sapiente. Fugiat molestias aliquam, voluptatibus incidunt quas maiores, ab?</p>
<p>Amet nam repellat vero porro provident, quisquam dolorum deleniti non labore ad similique aliquid eius laborum. Id, dolorem maiores accusantium neque incidunt non aliquam veniam minima, consequuntur provident rem culpa.</p>

<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">

  </a>
  <a href="who-apply.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">2. Who can apply</span>
  </a>
</div>