---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      Overview
    </li>
    <li>
      <a href="schemes.html">Schemes</a>
    </li>
    <li>
      <a href="eligibility.html">Eligibility</a>
    </li>
  </ol>
  <ol>
    <li>
      <a href="application-process.html">Application process</a>
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">1. Overview</h1>
<p>The Fast Stream offers talented and ambitious graduates an accelerated route to leadership within the <a href="https://www.gov.uk/government/organisations/civil-service/about/recruitment">Civil Service</a>.</p>
<p>Successful applicants will have the opportunity to take on some of the biggest social, economic, political and security challenges facing the UK today and the chance to make a real difference in people’s lives. </p>
<p>The Fast Stream aims to have the UK’s best and brightest graduates in Civil Service leadership roles within 3 to 5 years and offers a wide range of supported learning and development, professional qualifications, formal training courses, mentoring and job-shadowing.</p>
<p>&nbsp</p>
<h2 class="heading-small">As a fast streamer you'll have the opportunity to:</h2>
<ul>
<li>do varied and interesting work</li>
<li>progress your career quickly</li>
<li>do social good and make a difference in the lives of people</li>
<li>have job security and stability</li>
<li>rapidly increase and develop your own skills and knowledge through training and development</li>
</ul>

<p>&nbsp</p>
<p>Find out from Rob Moore what it's like <a href="#">working in Operational Research</a> -- one of the Fast Stream schemes</p>

<p>Ntokozo Moyo talks about life as a fast streamer and <a href="https://faststream.blog.gov.uk/2015/09/25/5-reasons-why-its-great-to-work-for-the-civil-service/">5 reasons why it's great to work for the Civil Service.</a></p>

<p>&nbsp</p>
<h2 class="heading-small">Fast Stream event calendar</h2>
<div role="note" aria-label="Information" class="application-notice info-notice panel-indent">
<p>Our next event is at the <a href="#">Camden graduate fair</a> on 21 June</p>
</div>

<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">

  </a>
  <a href="schemes.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Schemes</span>
  </a>
</div>