---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      Schemes
    </li>
    <li>
      <a href="eligibility.html">Eligibility</a>
    </li>
  </ol>
  <ol>
    <li>
      <a href="application-process.html">Application process</a>
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">2. Schemes</h1>
<p>You can apply for 2 of the 4 Generalist Fast Stream schemes at the same time. There are <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes#how-to-choose-a-generalist-fast-stream-scheme">rules about how you can combine the schemes</a>. To apply for Central Departments, Diplomatic Service, Houses of Parliament or Science and Engineering you’ll first need to apply for the Generalist Fast Stream scheme and then select your preferred options once you’ve passed the online tests.</p>

<h2 class="heading-small">Degree requirements and timetable for applications</h2>
<p>You may need to meet other requirements, eg nationality. See the relevant scheme for more information.</p>

<table>
  <thead>
    <tr>
      <th>Fast Streams</th>
      <th>What you need</th>
      <th>Opening date</th>
      <th>Closing date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Analytical</b></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-economic-service">Government Economic Service</a></td>
      <td>2:1 degree in economics or a 2:2 with a postgraduate qualification in economics</td>
      <td>1 Feb 2016</td>
      <td>31 March 2016</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-operational-research-service">Government Operational Research Service</a></td>
      <td>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</td>
      <td>1 Feb 2016</td>
      <td>31 March 2016</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-statistical-service">Government Statistical Service</a></td>
      <td>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</td>
      <td>1 Feb 2016</td>
      <td>31 March 2016</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-social-research-service">Government Social Research Service</a></td>
      <td>2:1 degree in social science or a 2:2 with a postgraduate qualification in social research</td>
      <td>1 Sept 2015</td>
      <td>30 Sept 2015</td>
    </tr>
    <tr>
      <td><b>Corporate</b></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-central-departments">Central Departments</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-diplomatic-service">Diplomatic Service</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-houses-of-parliament">Houses of Parliament</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-science-and-engineering">Science and Engineering</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>2:1 degree, plus either chartered engineer status or a postgraduate degree in a relevant subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-commercial-and-finance/civil-service-fast-stream-commercial">Commercial</a></td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Finance</a></td>
      <td>2:1 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-europe/fast-stream-european">European</a></td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-human-resources-profession/fast-stream-human-resources-profession">Human Resources</a></td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-government-communication-service/fast-stream-government-communication-service">Government Communication Service</a></td>
      <td>2:1 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-digital-and-technology/fast-stream-digital-and-technology">Digital and Technology</a></td>
      <td>2:1 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-project-delivery/fast-stream-project-delivery">Project Delivery</a></td>
      <td>2:2 degree in any subject</td>
      <td>1 Sept 2015</td>
      <td>30 Nov 2015</td>
    </tr>
  </tbody>
</table>

<div class="page-navigation">
  <a href="#" class="page-navigation__btn previous disabled">

  </a>
  <a href="eligibility.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Eligibility</span>
  </a>
</div>