---
layout: gds-layout.hbs
pageTitle: Civil Service Fast Stream
crumbFirst: Home
crumbSecond: Work and careers
crumbActive: Civil Service Fast Stream
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>
<nav role="navigation" class="guide-navigation">
  <ol>
    <li>
      <a href="index.html">Overview</a>
    </li>
    <li>
      Schemes
    </li>
    <li>
      <a href="eligibility.html">Eligibility</a>
    </li>
  </ol>
  <ol>
    <li>
      <a href="application-process.html">Application process</a>
    </li>
    <li>
      <a href="/faststream/index.html">Apply</a>
    </li>
  </ol>
</nav>
<h1 class="heading-medium">2. Schemes</h1>

<table>
<col width="200">
  <!-- <col width="450"> -->
  
  <thead>
    <tr>
      <th>Analytical</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-economic-service">Government Economic Service</a></td>
      <td>Develop your expertise in areas such as macroeconomic modelling, competition policy, international financial issues, labour market trends, taxation  <a href="#">read more...</a>
      <br /><br />Note: Economics qualifications required.</td> 
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-operational-research-service">Government Operational Research Service</a></td>
      <td>Work on projects from justice to health to education and beyond, doing problem structuing, modelling and analysis to advise government <a href="#">read more...</a>
      <br /><br />Note: Numerate discipline qualifications required.</td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-statistical-service">Government Statistical Service</a></td>
      <td>Establish the statistical pros and cons behind some of the most important questions facing society today <a href="#">read more...</a>
      <br /><br />Note: Numerate discipline qualifications required.</td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-social-research-service">Government Social Research Service</a></td>
      <td>Report social trends, develop surveys, analyse data, produce analysis, review existing research evidence and work with other analysts <a href="#">read more...</a>
      <br /><br />Note: Social science qualifications required.</td>
      
    </tr>
    </tbody>
    </table>
    <table>
    <col width="200">
    <thead>
    <tr>
      <th>Corporate</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
   <tbody>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-central-departments">Central Departments</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>Tackle issues at the top of the national agenda on health, the environment, education, transport, the economy, justice  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-diplomatic-service">Diplomatic Service</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>Protect and promote British interests around the world. Gain an unrivalled international perspective  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-houses-of-parliament">Houses of Parliament</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>Facilitate debates, scrutinise legislation, brief members of parliament and support two complex institutions <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td>
<a href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-science-and-engineering">Science and Engineering</a> (<a href="https://www.gov.uk/guidance/civil-service-fast-stream-generalist-fast-stream-options">Generalist</a>)</td>
      <td>A variety of opportunities, quite different from those found in academia and industry - and get an opportunity to make a vital contribtion  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-commercial-and-finance/civil-service-fast-stream-commercial">Commercial</a></td>
      <td>Help departments procure complex goods, make markets more open to small and medium-size enterprises, negotiate with major suppliers  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Finance</a></td>
      <td>Put finance at the centre of decision making by working on the most important financial issues facing the country  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-europe/fast-stream-european">European</a></td>
      <td>Influence policy on an EU wide schale and build a permanent career specialising in EU issues in the UK Civil Service  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-human-resources-profession/fast-stream-human-resources-profession">Human Resources</a></td>
      <td>A 420,000-strong diverse workforce gives you a challenging role that no other UK employer can match  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-government-communication-service/fast-stream-government-communication-service">Government Communication Service</a></td>
      <td>Think of innovative communication strategies to improve employee engagement and communicate major changes  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-digital-and-technology/fast-stream-digital-and-technology">Digital and Technology</a></td>
      <td>Conrtibute to digital strategy and policy, digital communications or the government's technology transformation  <a href="#">read more...</a></td>
      
    </tr>
    <tr>
      <td><a href="https://www.gov.uk/government/publications/civil-service-fast-stream-project-delivery/fast-stream-project-delivery">Project Delivery</a></td>
      <td>Unique and challenging opportunities managing risks, scoping projects or leading a project of your own  <a href="#">read more...</a></td>
      
    </tr>
  </tbody>
</table>
 


<div class="page-navigation">
  <a href="index.html" class="page-navigation__btn previous">
    <i class="arrow-button fa fa-angle-left"></i>
    <span class="description font-medium">Previous</span>
    <span class="counter">Overview</span>
  </a>
  <a href="eligibility.html" class="page-navigation__btn next">
    <i class="arrow-button fa fa-angle-right"></i>
    <span class="description font-medium">Next</span>
    <span class="counter">Eligibility</span>
  </a>
</div>