---
pageTitle: Online exercises complete
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="text">
  <p>You've completed the online exercises, we're pleased to let you know that you've successfully passed.</p>

  <h2 class="heading-large">E-tray</h2>

  <p>You can now start the E-tray assessment, this is a time-sensitive inbox simulation. The E-tray is used to see how you work under pressure and in a number of different scenarios.</p>

  <a href="https://www.cubiksonline.com/Cubiks/Etray3/PracticeEtray/?clientID=A47D25FC-3B58-4B27-A197-E588516AE227&locale=en-GB" class="button">Start E-tray</a>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

</div>