---
pageTitle: Online exercises complete
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="text">
  <p>You've completed the online exercises, we're pleased to let you know that you've successfully passed.</p>

  <h2 class="heading-large">E-tray</h2>

  <p>You can now start the E-tray assessment, this is a time-sensitive inbox simulation. The E-tray is used to see how you work under pressure and in a number of different scenarios.</p>
  <div class="panel-indent">
    <p><i class="fa fa-exclamation-triangle"></i>Please note that you'll need to do these on a computer with a browser that supports <a href="http://www.microsoft.com/getsilverlight" rel="external" target="_blank">Microsoft Silverlight</a>.</p>
  </div>

  <a href="https://www.cubiksonline.com/Cubiks/Etray3/PracticeEtray/?clientID=A47D25FC-3B58-4B27-A197-E588516AE227&locale=en-GB" class="button">Start E-tray</a>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

</div>