---
layout: scheme-layout.hbs
pageTitle: Government Economic Service
---

<section>
  <p>Economists in the Government Economic Service (GES) don’t just analyse figures. They’re closely involved in helping to shape government policy.</p>

  <p>The GES is the UK’s largest recruiter of economists, with over 1,400 professionals involved in all aspects of government policy. They work in more than 30 departments and agencies.</p>

  <p>Joining the GES as a Fast Stream economist can give you a wide range of career options. It also allows you to make an impact on life in the UK and beyond.</p>

  <p>In this 2-minute video, Matthew talks about his experiences on the GES Fast Stream.</p>
</section>

<section>
  <iframe id="youtube-0" frameborder="0" allowfullscreen="1" title="YouTube video player" width="100%" height="405px" src="https://www.youtube.com/embed/wiYuZqFHX6A?controls=1&amp;showinfo=0&amp;origin=https%3A%2F%2Fwww.gov.uk&amp;rel=0&amp;widget_referrer=https%3A%2F%2Fwww.gov.uk%2Fguidance%2Fcivil-service-fast-stream-graduate-schemes&amp;enablejsapi=1&amp;widgetid=1" role="presentation"></iframe>
</section>

<section>
  <h2 class="heading-large" id="what-youll-do">What you’ll do</h2>

  <p>You can work as an economist for a wide range of government departments and agencies. You may also be able to work overseas, eg by joining the Foreign and Commonwealth Office’s diplomatic service.</p>

  <p>You’ll be able to develop your expertise through postings in areas such as:</p>

  <ul>
    <li>macroeconomic modelling</li>
    <li>competition policy</li>
    <li>international financial issues</li>
    <li>labour market trends</li>
    <li>taxation</li>
    <li>housing benefits</li>
    <li>local government finance</li>
    <li>public health</li>
    <li>criminal justice</li>
  </ul>

  <p>Your responsibilities could include synthesizing evidence, producing briefing material, providing policy advice and conducting cost-benefit analyses.</p>
</section>

<section>
  <h2 class="heading-large" id="where-youll-work">Where you’ll work</h2>

  <p>You could work in a government department or agency such as:</p>

  <ul>
    <li>Cabinet Office</li>
    <li>Department for Business, Innovations and Skills</li>
    <li>Department for Culture, Media and Sport</li>
    <li>Department for Communities and Local Government</li>
    <li>Department of Energy and Climate Change</li>
    <li>Department for Environment, Food and Rural Affairs</li>
    <li>Department for Education</li>
    <li>Department of Health</li>
    <li>Department for Transport</li>
    <li>Department for Work and Pensions</li>
    <li>Foreign and Commonwealth Office</li>
    <li>HM Revenue and Customs</li>
    <li>HM Treasury</li>
    <li>Home Office</li>
    <li>Ministry of Defence</li>
    <li>Ministry of Justice</li>
    <li>Office for National Statistics</li>
    <li>Scottish Government</li>
    <li>Welsh Government</li>
  </ul>
</section>

<section>
  <h2 class="heading-large" id="additional-assessment">Additional assessment</h2>

  <p>As well as the normal steps of the Fast Stream application process, applicants for the GES Fast Stream have to pass an extra assessment.</p>

  <p>If you pass the online selection tests, you’ll be invited to the Economic Assessment Centre (EAC) in central London. There are 4 separate exercises to complete at the EAC:</p>

  <ul>
    <li>a technical report based on research</li>
    <li>10 short-answer questions</li>
    <li>a presentation</li>
    <li>an interview</li>
  </ul>

  <p>Your performance in these exercises will be assessed against 3 competencies:</p>

  <ul>
    <li>knowledge of economics</li>
    <li>application of economics</li>
    <li>communication</li>
  </ul>

  <p>You must meet all 3 competencies to pass the assessment.</p>
</section>

<section>
  <h2 class="heading-large" id="eligibility">Eligibility</h2>

  <p>To apply you must have UK, Commonwealth or EEA nationality. You must also have:</p>

  <ul>
    <li>a 2:1 degree in economics or an MSc/MA in economics, or expect to get one in the next 12 months</li>
    <li>a mixed degree with economics as one of the subjects, such as business economics - at least 50% of the course modules must be in economics and you must have studied both macro and microeconomics</li>
    <li>a postgraduate diploma in economics or a taught masters including macro and microeconomics, and a first degree in another subject - give details of your modules on the application form</li>
  </ul>

  <p>If you graduated more than 5 years ago, you must demonstrate that you have maintained competence in economics. You can do this by giving examples of economic articles and books you have read in depth. Put these in the competency section of the application form.</p>

  <p>You must also <a href="https://www.gov.uk/guidance/civil-service-fast-stream-who-can-apply">demonstrate the competencies and meet the eligibility requirements</a> which are common to all Fast Stream schemes.</p>

  <p>At the EAC you must produce a technical report on the topic, without using notes of any kind.</p>
</section>

<section>
  <h2 class="heading-large" id="training-and-development">Training and development</h2>

  <p>You’ll be expected to carry out 100 hours of continuous professional development (CPD) each year. At least 50 hours must be spent on economics. You might sometimes do more CPD than this, eg during induction.</p>

  <p>Some departments will also give you study leave if you want to study for a postgraduate qualification in economics.</p>

  <p>Your development will be closely monitored by your line manager. They’ll provide on-the-job coaching and advise you on training and broader development.</p>

  <p>As a new assistant economist you’ll attend a 1-day induction as well as courses on:</p>

  <ul>
    <li>economic appraisal</li>
    <li>impact assessment</li>
  </ul>

  <p>You’ll receive a regular learning and development update informing you of opportunities such as seminars and conferences.</p>
</section>

<section>
  <h2 class="heading-large" id="promotion-prospects">Promotion prospects</h2>

  <p>Most assistant economists are promoted within 5 years if they meet the required competencies. You’re likely to get promoted more rapidly if you’re very well qualified or have relevant experience, eg working as an analyst in the private or third sectors.</p>

  <p>After this your progress will depend on improving your technical or applied skills and how well you’re able to:</p>

  <ul>
    <li>manage and lead individuals and teams</li>
    <li>communicate clearly and effectively</li>
    <li>manage projects</li>
    <li>produce relevant analysis to inform and influence policy decisions</li>
  </ul>

  <p>Your work could involve various types of economics, including behavioural economics, macroeconomics, labour economics, microeconomics and econometrics. It’s expected that within 10 years you’ll have been promoted to the position of economic adviser.</p>

  <p>More information about the eligibility criteria and the assessment process can be found in <a href="https://www.gov.uk/government/publications/government-economic-service-information-for-economic-fast-stream-candidates/government-economic-service-information-for-economic-fast-stream-candidates">Government Economic Service: Information for Economic Fast Stream candidates</a>.</p>
</section>
