<details id="stickySidePanel">
  <summary>Why are we asking these questions?</summary>
  <div class="detail-content">
    <div class="panel-warning">
      <p>The Civil Service is committed to promoting diversity.<br> Read more about <a href="https://www.gov.uk/government/organisations/civil-service/about/equality-and-diversity" rel="external" target="_blank">diversity in the civil service (opens in new tab)</a>.</p>
      <ul>
        <li>we collect diversity and socio economic information for monitoring purposes only</li>
        <li>this data is treated separately from the application process</li>
        <li>your answers in this section don't affect your results in any way and are treated in strict confidence</li>
      </ul>
    </div>
  </div>
</details>