<div class="panel-warning standard-panel">
  <h2 class="heading-medium">Why are we asking these questions?</h2>
  <p>The following questions are:</p>
  <ul class="no-btm-margin">
    <li>for information monitoring only</li>
    <li>not part of your application</li>
    <li>treated in strict confidence</li>
    <li>to make sure the Civil Service is a <a href="https://www.gov.uk/government/organisations/civil-service/about/equality-and-diversity" rel="external" target="_blank">diverse organisation</a></li>
  </ul>

</div>
