<section class="page-progress">
  <p><span class="lede">Page {{ applicationPart }} of 8</span><br><a href="profile-home.html?Page={{ applicationPage }}">View the rest of your application</a></p>
</section>