---
pageTitle: Thank you
layout: gds-layout.hbs
---

<div class="hgroup">
  <span class="subtitle">Apply for Civil Service Fast Stream</span>
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="form-group">
  <h2 class="heading-medium">How did you feel about the service you received?</h2>

  <ul class="list-text">
    <li><label><input type="radio" name="test">Very satisfied</label></li>
    <li><label><input type="radio" name="test">Satisfied</label></li>
    <li><label><input type="radio" name="test">No opinion</label></li>
    <li><label><input type="radio" name="test">Dissatisfied</label></li>
    <li><label><input type="radio" name="test">Very dissatisfied</label></li>
  </ul>
</div>

<div class="form-group">
  <h2 class="heading-medium">How could we improve this service?</h2>
  <label for="feedback" class="form-label">Enter some suggestions</label>
  <textarea id="feedback" class="form-control form-control-3-4" data-val-length-max="1200" rows="4"></textarea>
</div>

<div class="form-group">
  <a href="#" class="button">Send feedback</a>
</div>
