---
pageTitle: Index
layout: gds-layout.hbs
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>
<h2 class="heading-large">Choose a service</h2>
<ul class="form-group">
  <li>
    <a href="inform/index.html">Apply for Civil Service Fast Stream</a>
  </li>
  <li>
    <a href="admin/signin.html">Service administration</a>
  </li>
</ul>