---
pageTitle: Support for your assessments
applicationPart: 4
applicationPage: assistanceNeeds
---

{{> progress-indicator }}

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<section>

  <p class="form-label">Will you need adjustments or support for your assessment?</p>
  <div class="form-group form-group-compound inline">
    <label data-target="adjustment-panel" for="adjustment-yes" class="block-label">
      <input name="adjustment" type="radio" id="adjustment-yes" aria-controls="adjustment-panel" aria-expanded="false">Yes
    </label>
    <label for="adjustment-no" class="block-label">
      <input name="adjustment" type="radio" id="adjustment-no">No
    </label>
  </div>
  <div class="panel-indent">
    <p>Some examples of adjustments are</p>
    <ul>
      <li>time extension, eg 25% or 30% </li>
      <li>coloured paper</li>
      <li>braille test paper</li>
      <li>room alone</li>
      <li>rest breaks</li>
      <li>reader/assistant</li>
      <li>stand up and move around</li>
    </ul>
  </div>
  <div id="adjustment-panel" class="toggle-content" aria-hidden="true">

    <div class="form-group">
      <label id="adj-other" class="form-label">What adjustments will you need?</label>
      <textarea id="adj-other" class="form-control" rows="4" data-val-length-max="4000"></textarea>
      <!-- <span class="form-hint maxchar-count">4000</span> -->
      <span class="visuallyhidden aria-limit" aria-live="polite"></span>
    </div>
    <div class="panel-indent text">
      <p>If you want to talk about your adjustment needs in more detail, <a href="helpdesk.html">please contact us</a>.</p>
      <p>It's important you let us know this information now, as there won't be another opportunity to do this unless your situation changes.</p>
    </div>
  </div>
</section>

<div class="form-group">
  <a href="questionnaire.html" class="button" id="assistanceSave">Save and continue</a>
</div>