---
pageTitle: Your qualifications
applicationPart: 2
applicationPage: educationDetails
---

{{> progress-indicator }}

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<section>
  <div class="form-group">
    <label class="form-label text" for="universityAttended">What is the name of the university or college you received your degree from?</label>
    <span class="form-hint text">If you haven't received your degree yet, enter the name of your current university or college</span>
    <input type="text" id="universityAttended" class="form-control">
    <input type="hidden" class="alwayshidden" value="" id="universityName">
  </div>
</section>


<section>
  <fieldset>
    <legend class="form-label">What class of degree did you receive?</legend>
    <div class="form-group">
      <div>
        <label for="degree-22" class="block-label">
          <input name="degree" type="radio" id="degree-22">2:2 (Second-class honours, lower division)
        </label>
      </div>
      <div>
        <label for="degree-21" class="block-label">
          <input name="degree" type="radio" id="degree-21">2:1 (Second-class honours, upper division)
        </label>
      </div>
      <div>
        <label for="degree-first" class="block-label">
          <input name="degree" type="radio" id="degree-first">1st (First-class honours)
        </label>
      </div>
    </div>
  </fieldset>
</section>

<section>
  <div class="form-group">
    <label class="form-label text" for="subjectName">What subject area best describes your degree?</label>
    <input type="text" id="subjectName" class="form-control">
    <input type="hidden" class="alwayshidden" value="" id="subjectCode">
  </div>
</section>

<div>
  <a href="scheme-selection.html" class="button">Save and continue</a>
</div>



<script src="{{assets}}/js/vendor/jquery-ui-custom.js"></script>
<script src="{{assets}}/js/universities.js"></script>
<script src="{{assets}}/js/hesa-codes.js"></script>


