---
layout: gds-layout.hbs
pageTitle: Apply for the Civil Service Fast Stream
---
<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<section>
  <p>Before you apply for Civil Service Fast Stream, make sure:</p>
  <ul class="list-bullet">
    <li>you meet the <a href="govuk-eligible.html">eligibility</a> requirements</li>
    <li>you've read about the <a href="govuk-schemes.html">schemes on offer</a></li>
  </ul>
  <div class="get-started">
    <a href="profile-create.html" class="button">Start now</a>
    <span class="destination">to create an account</span>
  </div>
</section>
<section class="panel-indent text">
  <p>If you haven't used the new Fast Stream application service before, you should go to <a href="profile-create.html">create an account</a>.</p>
  <p>Returning users can <a href="profile-signin.html">sign in</a>.</p>
</section>
