---
layout: gds-layout.hbs
pageTitle: Fast Stream home
---
<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<ul>
  <li><a href="profile-signin.html">Create an account/Sign in</a></li>
  <li><a href="/inform/index.html">See the inform page</a></li>
</ul>