---
layout: gds-layout.hbs
pageTitle: Apply for Civil Service Fast Stream
---
<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<p>Before you apply for Civil Service Fast Stream, make sure:</p>
<ul class="list-bullet">
  <li>you meet the <a href="govuk-eligible.html">eligibility</a> requirements</li>
  <li>you've read about the <a href="govuk-schemes.html">schemes on offer</a></li>
</ul>
<div class="get-started">
  <a href="profile-signin.html" class="button">Start now</a>
</div>
