---
pageTitle: Personal details
applicationPart: 1
applicationPage: personalDetails
---
{{> progress-indicator }}

<h1 class="heading-xlarge" id="personalDetailsHeading">{{ pageTitle }}</h1>

<section class="section-border">
  <h2 class="heading-medium">Name and date of birth</h2>
  <div class="form-group form-group-compound">
    <label for="first-name" class="form-label">First name</label>
    <input id="first-name" type="text" class="form-control" autocorrect="off" value="Firstname" >
  </div>
  <div class="form-group">
    <label for="last-name" class="form-label">Last name</label>
    <input id="last-name" type="text" class="form-control" autocorrect="off" value="Lastname" >
  </div>

  <div class="form-group">
    <label for="preferredName" class="form-label">What should we call you?</label>
    <input type="text" id="preferredName" class="form-control" autocorrect="off" value="Firstname">
  </div>

  <div class="form-group inline-fixed">
    <p class="form-label">Date of birth</p>
    <span class="form-hint">For example, <span class="small-right-margin">31</span> <span class="small-right-margin">6</span> 1980</span>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-day">Day</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-day">
    </div>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-month">Month</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-month">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="date-hint" for="dob-year">Year</label>
      <input type="tel" class="form-control form-control-small" maxlength="4" id="dob-year">
    </div>
  </div>
</section>

<section>
  <h2 class="heading-medium">Contact details</h2>
  <div class="hide-nojs">
    <div class="form-group form-group-compound">
      <label for="post-code" class="form-label">Postcode</label>
      <input id="post-code" type="text" class="form-control form-control-large " autocapitalize="characters" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <a href="#" class="button" id="findAddressBtn">Find address</a>
    </div>
    <div id="addressSelectContainer" class="form-group toggle-content hide-nojs">
      <label for="addressSelect" class="form-label">Select your address</label>
      <select name="" id="addressSelect">
        <option value="void">5 addresses found</option>
        <option class="address-select-option" value="36 Bolton Road">36 Bolton Road</option>
        <option class="address-select-option" value="37 Bolton Road">37 Bolton Road</option>
        <option class="address-select-option" value="38 Bolton Road">38 Bolton Road</option>
        <option class="address-select-option" value="39 Bolton Road">39 Bolton Road</option>
        <option class="address-select-option" value="40 Bolton Road">40 Bolton Road</option>
      </select>
    </div>
    <p>
      <a href="#" id="addressManualLink">Or enter address manually</a>
    </p>
    <div class="form-group form-group-compound">
      <label for="outside-uk" class="block-label">
        <input type="checkbox" id="outside-uk">This address is outside of the UK
      </label>
    </div>
  </div>
  <div id="addressManualInput" class="disabled">
    <div class="form-group form-group-compound">
      <label for="address1" class="form-label">Address</label>
      <input id="address1" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address2" class="form-label visuallyhidden">Second line (optional)</label>
      <input id="address2" type="text" class="form-control" autocorrect="off">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3" class="form-label visuallyhidden">Third line (optional)</label>
      <input id="address3" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3b" class="form-label visuallyhidden">Fourth line (optional)</label>
      <input id="address3b" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group">
      <label for="address4" class="form-label">Postcode</label>
      <input id="address4" type="text" class="form-control form-control-large" autocapitalize="characters" autocorrect="off" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-input">Telephone number</label>
    <span class="form-hint text">Enter your mobile or landline number</span>
    <input type="tel" class="form-control form-control-1-3 med-btm-margin" id="phone-input">
  </div>
</section>


<div class="form-group">
  <a id="detailsContinue" class="button" href="scheme-selection.html">Save and continue</a>
</div>
