---
pageTitle: Personal details
applicationPart: 1
applicationPage: personalDetails
---
{{> progress-indicator }}

<h1 class="heading-xlarge" id="personalDetailsHeading">{{ pageTitle }}</h1>

<section class="section-border">
  <h2 class="heading-medium">Name and date of birth</h2>
  <div class="form-group form-group-compound">
    <label for="first-name" class="form-label">First name</label>
    <input id="first-name" type="text" class="form-control" autocorrect="off" value="Firstname" >
  </div>
  <div class="form-group">
    <label for="last-name" class="form-label">Last name</label>
    <input id="last-name" type="text" class="form-control" autocorrect="off" value="Lastname" >
  </div>

  <div class="form-group">
    <label for="preferredName" class="form-label">Preferred name</label>
    <input type="text" id="preferredName" class="form-control" autocorrect="off" value="Firstname">
  </div>

  <div class="form-group inline-fixed">
    <p class="form-label">Date of birth</p>
    <span class="form-hint">For example, <span class="small-right-margin">31</span> <span class="small-right-margin">6</span> 1980</span>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-day">Day</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-day">
    </div>
    <div class="form-group form-group-compound">
      <label class="date-hint" for="dob-month">Month</label>
      <input type="tel" class="form-control form-control-xsmall" maxlength="2" id="dob-month">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="date-hint" for="dob-year">Year</label>
      <input type="tel" class="form-control form-control-small" maxlength="4" id="dob-year">
    </div>
  </div>
</section>

<section class="section-border">
  <h2 class="heading-medium">Contact details</h2>
<!--   <div class="hide-nojs">
    <div class="form-group form-group-compound">
      <label for="post-code" class="form-label">Postcode</label>
      <input id="post-code" type="text" class="form-control form-control-large " autocapitalize="characters" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <a href="#" class="button" id="findAddressBtn">Find address</a>
    </div>
    <div id="addressSelectContainer" class="form-group toggle-content hide-nojs">
      <label for="addressSelect" class="form-label">Select your address</label>
      <select name="" id="addressSelect">
        <option value="void">5 addresses found</option>
        <option class="address-select-option" value="36 Bolton Road">36 Bolton Road</option>
        <option class="address-select-option" value="37 Bolton Road">37 Bolton Road</option>
        <option class="address-select-option" value="38 Bolton Road">38 Bolton Road</option>
        <option class="address-select-option" value="39 Bolton Road">39 Bolton Road</option>
        <option class="address-select-option" value="40 Bolton Road">40 Bolton Road</option>
      </select>
    </div>
    <p>
      <a href="#" id="addressManualLink">Or enter address manually</a>
    </p>
  </div> -->
  <div class="form-group">
    <label for="outside-uk" class="block-label">
      <input type="checkbox" id="outside-uk">My address is outside the UK
    </label>
  </div>
  <div>
    <div class="form-group form-group-compound">
      <label for="address1" class="form-label">Address</label>
      <input id="address1" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address2" class="form-label visuallyhidden">Second line (optional)</label>
      <input id="address2" type="text" class="form-control" autocorrect="off">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3" class="form-label visuallyhidden">Third line (optional)</label>
      <input id="address3" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3b" class="form-label visuallyhidden">Fourth line (optional)</label>
      <input id="address3b" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group">
      <label for="address4" class="form-label">Postcode</label>
      <input id="address4" type="text" class="form-control form-control-large" autocapitalize="characters" autocorrect="off" value="">
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="phone-input">Telephone number</label>
    <span class="form-hint text">Enter your mobile or landline number</span>
    <input type="tel" class="form-control form-control-1-3 med-btm-margin" id="phone-input">
  </div>
</section>

<section class="clearfix">
  <div class="text">
    <h2 class="heading-medium">Civil servants and internship placements</h2>
  </div>
  <fieldset>
    <legend class="form-label">Are you currently a civil servant or been on our internship programme?</legend>
    <p class="form-hint">This includes Fast Track, SDIP and EDIP</p>
    <div class="form-group">
      <label data-target="civilservice-panel" for="civilservice-current" class="block-label">
        <input name="civilservice" type="radio" id="civilservice-current" aria-controls="civilservice-panel" aria-expanded="false">Yes
      </label>
      <label for="civilservice-no" class="block-label">
        <input name="civilservice" type="radio" id="civilservice-no">No
      </label>
    </div>


    <div id="civilservice-panel" class="toggle-content">
      <fieldset>
       <legend class="form-label">Which of these applies?</legend>
       <div class="form-group">
         <div>
           <label data-target="civilservants-panel" for="civilservants-current" class="block-label">
             <input name="civilservants" type="radio" id="civilservants-current" aria-controls="civilservants-panel" aria-expanded="false">I'm currently a civil servant
           </label>
         </div>
         <div>
           <label data-target="fasttrack-panel" for="civilservants-fasttrack" class="block-label">
             <input name="civilservants" type="radio" id="civilservants-fasttrack" aria-controls="fasttrack-panel" aria-expanded="false">I've either completed or am about to complete the Fast Track
           </label>
         </div>
         <div>
           <label data-target="internship-panel" for="civilservants-internship" class="block-label">
             <input name="civilservants" type="radio" id="civilservants-internship" aria-controls="internship-panel" aria-expanded="false">I've completed an internship
           </label>
         </div>
       </div>

       <div id="civilservants-panel" class="toggle-content" aria-hidden="true">
         <h3 class="heading-medium">Current civil servants</h3>
         <div class="text">
           <p>As a current civil servant or Fast Track applicant you're eligible for most of the schemes without a degree.</p>
           <p>The schemes you'll need specific qualifications for are:</p>
           <ul>
              <li>European</li>
              <li>Government Economic Service</li>
              <li>Government Operational Research Service</li>
              <li>Government Social Research Service</li>
           </ul>
           <p>Check the <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes" rel="external" target="_blank">eligibility requirements</a> for more information.</p>
         </div>
         <div class="panel-indent text">
           <p>If you're currently a civil servant, or have previously worked for the Civil Service, make sure you read the <a href="https://www.gov.uk/guidance/civil-service-fast-stream-who-can-apply#applying-to-the-fast-stream-as-a-civil-servant" rel="external" target="_blank">conditions that apply</a>.</p>
         </div>
       </div>

       <div id="fasttrack-panel" class="toggle-content" aria-hidden="true">
         <h3 class="heading-medium">Fast Track</h3>
         <div class="text">
           <p>As a current civil servant or Fast Track applicant you're eligible for most of the schemes without a degree.</p>
           <p>The schemes you'll need specific qualifications for are:</p>
           <ul>
              <li>European</li>
              <li>Government Economic Service</li>
              <li>Government Operational Research Service</li>
              <li>Government Social Research Service</li>
           </ul>
           <p>Check the <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes" rel="external" target="_blank">eligibility requirements</a> for more information.</p>
         </div>
         <div class="panel-indent text">
           <p>If you're currently on the Fast Track, or have completed the Fast Track, make sure you read the <a href="https://www.gov.uk/guidance/civil-service-fast-stream-who-can-apply#applying-to-the-fast-stream-as-a-civil-servant" rel="external" target="_blank">conditions that apply</a> .</p>
         </div>
       </div>

       <div id="internship-panel" class="toggle-content" aria-hidden="true">
         <h3 class="heading-medium">Internships</h3>
         <fieldset>
           <legend class="form-label">Which internship programme did you do?</legend>
           <div class="form-group">
             <div>
               <label data-target="edip-panel" for="internship-edip" class="block-label">
                 <input name="internship" type="radio" id="internship-edip" aria-controls="edip-panel" aria-expanded="false">Early Diversity Internship Programme
               </label>
             </div>
             <div>
               <label data-target="sdip-previous-panel" for="internship-sdip-previous" class="block-label">
                 <input name="internship" type="radio" id="internship-sdip-previous" aria-controls="sdip-previous-panel" aria-expanded="false">Summer Diversity Internship Programme (Previous years)
               </label>
             </div>
             <div>
               <label data-target="sdip-current-panel" for="internship-sdip-current" class="block-label">
                 <input name="internship" type="radio" id="internship-sdip-current" aria-controls="sdip-current-panel" aria-expanded="false">Summer Diversity Internship Programme 2016 (This year)
               </label>
             </div>
           </div>
           <div id="sdip-current-panel" class="toggle-content">
             <fieldset>
              <legend class="form-label">Did you receive a Fast Pass?</legend>
              <div class="form-group">
                <label data-target="sdipques-panel" for="sdipques-yes" class="block-label">
                  <input name="sdipques" type="radio" id="sdipques-yes" aria-controls="sdipques-panel" aria-expanded="false">Yes
                </label>
                <label for="sdipques-no" class="block-label">
                  <input name="sdipques" type="radio" id="sdipques-no">No
                </label>
               </div>
               <div id="sdipques-panel" class="toggle-content">
                 <div class="panel-indent text">
                   <p>If you've completed the <a rel="external" target="_blank" href="https://www.gov.uk/guidance/civil-service-fast-stream-summer-diversity-internship-programme">Summer Diversity Internship Programme (SDIP)</a> this year you get a fast pass and don't need to complete the online assessments.</p>
                 </div>
                 <div class="form-group">
                   <label for="fastpass-number" class="form-label">Enter your certificate number</label>
                   <span class="form-hint text">You can find this at the top of the certificate</span>
                   <input type="text" class="form-control" id="fastpass-number">
                 </div>
                </div>
              </fieldset>
           </div>
         </fieldset>
       </div>
      </fieldset>
    </div>
  </fieldset>
</section>


<div class="form-group">
  <a id="detailsContinue" class="button" href="scheme-selection.html">Save and continue</a>
</div>

<script>
  $(function() {
    $('#detailsContinue').on('click', function() {
      if($('#civilservants-current').is(':checked') || $('#civilservants-fasttrack').is(':checked')) {
        $.jStorage.set('civilServant', true);
      } else {
        $.jStorage.set('civilServant', false);
      }
      if($('#internship-sdip-current').is(':checked')) {
        $.jStorage.set('doneSdip', true);
      } else {
        $.jStorage.set('doneSdip', false);
      }
    });
  });
</script>
