---
pageTitle: Create your account
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<section class="panel-indent text">
  <p>If you've already created an account on this site for the Civil Service Fast Stream, you can return to <a href="profile-signin.html">sign in</a>.</p>
</section>

<section class="section-border">
  <h2 class="heading-large">Name and email</h2>
  <div class="form-group form-group-compound">
    <label for="first-name" class="form-label">First name</label>
    <input id="first-name" type="text" class="form-control" autocorrect="off" value="" >
  </div>
  <div class="form-group">
    <label for="last-name" class="form-label">Last name</label>
    <input id="last-name" type="text" class="form-control" autocorrect="off" value="" >
  </div>

  <div class="form-group form-group-compound">
    <label for="email-input" class="form-label" id="emailInput">Email</label>
    <span class="form-hint text">You'll need this to sign in to your account</span>
    <input type="email" class="form-control" id="email-input" spellcheck="false">
  </div>

  <div class="form-group">
    <label for="emailInputConfirm" class="form-label">Confirm your email</label>
    <input type="email" class="form-control" id="emailInputConfirm" spellcheck="false">
  </div>

</section>
<section class="section-border">
  <h2 class="heading-large">Set your password</h2>
  <div class="form-group">
    <label for="password" class="form-label">Create password</label>
    <div class="form-hint text">
      <p class="no-btm-margin">Must have:</p>
      <ul id="passwordRequirements" class="list-withicons list-text">
        <li id="includesUppercase"><i class="fa fa-minus the-icon"></i>uppercase letters</li>
        <li id="includesLowercase"><i class="fa fa-minus the-icon"></i>lowercase letters</li>
        <li id="includesNumber"><i class="fa fa-minus the-icon"></i>a number</li>
        <li id="includes9Characters"><i class="fa fa-minus the-icon"></i>at least 9 characters</li>
      </ul>
    </div>
    <div class="form-group password-wrapper">
      <input type="password" class="form-control new-password" id="password">
    </div>
    <div class="password-second form-group">
      <label for="confirm-password" class="form-label">Confirm password</label>
      <input type="password" class="form-control confirm-password">
    </div>
  </div>
</section>

<section class="section-border clearfix">
  <h2 class="heading-large">Eligibility</h2>

  <div class="text">
    <h2 class="heading-medium">Confirm the following statements are true</h2>
  </div>

  <ul id="eligibility-list" class="para-btm-margin text">
    <li>I'm <a href="http://neves.io/faststream-marketing/eligibility/" target="_blank" rel="external">eligible to work in the UK</a></li>
    <li>I have a relevant degree or qualify as a current civil servant</li>
    <li>I'm available to start work in January 2017</li>
    <li>I meet my schemes eligibility requirements</li>
  </ul>

  <fieldset>
    <legend class="form-label">Are you eligible to apply?</legend>
    <div class="form-group">
      <label for="eligible-yes" class="block-label">
        <input name="eligible" type="radio" id="eligible-yes">Yes
      </label>
      <label data-target="eligible-panel" for="eligible-no" class="block-label">
        <input name="eligible" type="radio" id="eligible-no" aria-controls="eligible-panel" aria-expanded="false">No
      </label>
    </div>
    <div id="eligible-panel" class="toggle-content">
      <div class="panel-danger">
        <p>You must be eligible to apply for the Civil Service Fast Stream</p>
      </div>
    </div>
  </fieldset>
</section>

<section class="section-border">
  <h2 class="heading-large">How did you hear about us?</h2>
  <div class="form-group">
    <label for="hearAboutUs" class="form-label">How did you hear about the Fast Stream? (optional)</label>
    <select name="campaignReferrer" id="campaignReferrer" class="form-group-compound">
      <option value="">Select one</option>
      <option value="National apprenticeship service">National apprenticeship service</option>
      <option value="notgoingtouni.co.uk">notgoingtouni.co.uk</option>
      <option value="Social media(Twitter/Facebook)">Social media(Twitter/Facebook)</option>
      <option value="Teachers/careers advisors">Teachers/careers advisors</option>
      <option value="Parent/friends/family">Parent/friends/family</option>
      <option value="Current apprentice/current civil servant">Current apprentice/current civil servant</option>
      <option value="Careers fair">Careers fair</option>
      <option value="Google">Google</option>
      <option value="Other">Other</option>
    </select>
  </div>
</section>


<section>
  <h2 class="heading-large">Terms and conditions</h2>
  <div class="form-group">
    <label for="accept-terms" class="block-label">
      <input type="checkbox" id="accept-terms">I accept the <a href="terms.html" target="_blank" id="">terms and conditions</a>
    </label>
  </div>
</section>



<div class="form-group">
  <a id="createAccountBtn" class="button" href="profile-success.html">Create account</a>
</div>
