---
pageTitle: Home
---
<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p class="subtitle" id="nameOnHome">Firstname Lastname</p>
</div>

<ol class="step-by-step-coloured heading-counter-list" id="sixSteps">
  <li class="first-step active">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-large heading-counter">Fill in your application form</h2>
          <ul class="list-text list-withicons">
            <li data-href="profile-details.html" id="personalDetails"><i class="fa fa-minus the-icon"></i>Add personal details</li>
            <li data-href="education-details.html" id="educationDetails"><i class="fa fa-minus the-icon"></i>Enter your qualifications</li>
            <li data-href="scheme-selection.html" id="schemePreferences"><i class="fa fa-minus the-icon"></i>Choose your scheme preferences</li>
            <li data-href="assistance.html" id="assistanceNeeds"><i class="fa fa-minus the-icon"></i>Tell us about any assistance needs you may have</li>
            <li data-href="questionnaire.html" id="diversityQuestions"><i class="fa fa-minus the-icon"></i>Fill in the diversity questions</li>
            <li data-href="apply-check.html" id="checkApplication"><i class="fa fa-minus the-icon"></i>Check your application</li>
            <li id="submitApplication"><i class="fa fa-minus the-icon"></i>Submit</li>
          </ul>
          <a class="button" href="profile-details.html" id="startAppBtn">Start your application</a>
        </div>
      </div>
      <div class="grid grid-1-3">

      </div>
    </div>
  </li>
  <li class="second-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium heading-counter">Take the online assessments</h2>
          <p>The online assessments consist of:</p>
          <ol class="list-number">
            <li>
              <h3 class="heading-small">Exercises</h3>
              <p>You'll need to complete two online exercises which consist of several questions to test competency and situational judgement. You'll have 7 days to complete these exercises.</p>
              <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#online-selection-tests" rel="external" target="_blank">Find out more about the online exercises</a></p>
            </li>
            <li>
              <h3 class="heading-small">E-tray</h3>
              <p>If you pass the online exercises you'll then need to complete the E-tray assessment. This is a time-sensitive inbox simulation, to see how you work under pressure and in a number of different scenarios.</p>
              <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#online-e-tray-exercise" rel="external" target="_blank">Find out more about the E-tray</a></p>
            </li>
            <li>
              <h3 class="heading-small">Video interview</h3>
              <p>If you pass the E-tray assessment you'll be invited to do the online video interview. This is an Asynchronous video interview, where you'll first see an assessor asking a pre-recorded question and you then record yourself giving an answer.</p>
              <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#online-e-tray-exercise" rel="external" target="_blank">Find out more about the video interview</a></p>
            </li>
          </ol>
        </div>
      </div>
      <div class="grid grid-1-3">

      </div>
    </div>
  </li>
  <li class="third-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium heading-counter">Attend an assessment centre</h2>
          <p>If you pass the online exercises you'll be invited to attend an assessment centre.</p>
          <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#analytical-fast-stream-assessment" rel="external" target="_blank">Find out more about the assessment day</a></p>
          <h3 class="heading-small">Final selection board</h3>
          <div class="panel-indent">
            <p> You must go through a final selection process when applying for some Fast Stream schemes. You’ll be asked to attend a Final Selection Board if you pass the FSAC assessment and you’ve applied for one of these schemes:</p>

            <ul>
              <li>Diplomatic Service</li>
              <li>Houses of Parliament</li>
              <li>Science and Engineering</li>
              <li>Digital and Technology</li>
              <li>European</li>
              <li>Government Communication Service</li>
            </ul>
            <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#final-selection-board" rel="external" target="_blank">Find out more about the final selection board</a></p>
          </div>
        </div>
      </div>
      <div class="grid grid-1-3">
      </div>
    </div>
  </li>
  <li class="fourth-step">
    <div class="grid-wrapper">
      <div class="grid grid-2-3">
        <div class="inner-block-padr">
          <h2 class="heading-medium heading-counter">Your final results</h2>
          <p>We aim to let you know the outcome of your assessment by December 2016.</p>
          <p><a href="https://www.gov.uk/guidance/civil-service-fast-stream-how-to-apply#after-your-assessment" rel="external" target="_blank">Find out more about the on boarding process</a></p>
        </div>
      </div>
      <div class="grid grid-1-3">
      </div>
    </div>
  </li>
</ol>
