---
pageTitle: Your education
applicationPart: 6
applicationPage: diversityQuestions
---

{{> progress-indicator }}

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

{{> diversity-panel }}


<fieldset>
  <legend class="form-label">At the age of 14 did you live in the UK?</legend>
  <div class="form-group inline">
    <label data-target="education-uk-panel" for="education-uk-yes" class="block-label">
      <input name="education-uk" type="radio" id="education-uk-yes" aria-controls="education-uk-panel" aria-expanded="false">Yes
    </label>
    <label data-target="education-ew-panel" for="education-uk-no" class="block-label">
      <input name="education-uk" type="radio" id="education-uk-no" aria-controls="education-ew-panel" aria-expanded="false">No
    </label>
  </div>

  <div id="education-uk-panel" class="toggle-content" aria-hidden="true">
    <section>
      <div class="form-group form-group-compound">
        <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
        <input type="text" id="homePostcode" class="form-control form-control-1-4">
      </div>

      <div class="form-group">
        <label for="postcode-dontremember" class="block-label" data-distarget="homePostcode">
          <input type="checkbox" id="postcode-dontremember">I don't know/prefer not to say
        </label>
      </div>
    </section>

    <section>
      <div class="form-group form-group-compound">
        <label class="form-label text" for="schoolAttended">What was the name of the school you attended when you were 14?</label>
        <input type="text" id="schoolAttended" class="form-control">
      </div>

      <div class="form-group">
        <label for="school-dontremember" class="block-label" data-distarget="schoolAttended">
          <input type="checkbox" id="school-dontremember">I don't know/prefer not to say
        </label>
      </div>
    </section>

    <section>
      <div class="text">
        <p class="form-label">During your school years, were you at any time eligible for free school meals? </p>
        <div class="form-group inline">
          <label for="freeSchoolMeals-yes" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
          </label>
          <label for="freeSchoolMeals-no" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
          </label>
          <label for="freeSchoolMeals-remember" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-remember">I don't know/prefer not to say
          </label>
        </div>
      </div>
    </section>
  </div>

  <div id="education-ew-panel" class="toggle-content hide-nojs" aria-hidden="true">
  </div>
</fieldset>

<fieldset>
  <legend class="form-label" data-degreeques style="display: none;">Do you have a degree?</legend>
  <div class="form-group" data-degreeques style="display: none;">
    <label data-target="degree-panel" for="degree-yes" class="block-label">
      <input name="degree" type="radio" id="degree-yes" aria-controls="degree-panel" aria-expanded="false">Yes
    </label>
    <label for="degree-no" class="block-label">
      <input name="degree" type="radio" id="degree-no">No
    </label>
  </div>

  <div id="degree-panel" class="toggle-content">
    <section>
      <div class="form-group">
        <label class="form-label text" for="universityAttended">What is the name of the university you received your degree from?</label>
        <span class="form-hint text">Or enter your current university if you haven't finished yet</span>
        <input type="text" id="universityAttended" class="form-control">
      </div>
    </section>

    <section>
      <div class="form-group">
        <label class="form-label text" for="subjectName">Which category best describes your degree?</label>
        <select name="" id="">
          <option value="">Select one</option>
          <option value="(J)">Combined</option>
          <option value="(5)">Agriculture &amp; Related Subjects</option>
          <option value="(A)">Architecture, Building &amp; Planning</option>
          <option value="(3)">Biological Sciences</option>
          <option value="(D)">Business &amp; Administrative Studies</option>
          <option value="(H)">Creative Arts &amp; Design</option>
          <option value="(8)">Computer Science</option>
          <option value="(I)">Education</option>
          <option value="(9)">Engineering &amp; Technology</option>
          <option value="(G)">Humanities</option>
          <option value="(F)">Languages</option>
          <option value="(C)">Law</option>
          <option value="(E)">Librarianship &amp; Information Science</option>
          <option value="(7)">Mathematical Science</option>
          <option value="(1)">Medicine &amp; Dentistry</option>
          <option value="(2)">Subjects Allied to Medicine</option>
          <option value="(6)">Physical Science</option>
          <option value="(B)">Social, Economic &amp; Political Studies</option>
          <option value="(4)">Veterinary Sciences</option>
        </select>
      </div>
    </section>

    <section class="clearfix">
      <details class="text">
        <summary>What category is my subject?</summary>
        <div class="detail-content">
          {{> hesa-table }}
        </div>
      </details>
    </section>
  </div>
</fieldset>

<div>
  <a href="questionnaire-03.html" class="button" id="saveQ2Btn">Save and continue</a>
</div>

<script>
  $(function() {
    var isCivilServant = $.jStorage.get('civilServant');

    if(isCivilServant) {
      $('[data-degreeques]').css('display', 'block');
    } else {
      $('#degree-panel').removeClass('toggle-content');
    }

    $('#education-uk-no').on('change', function() {
      $('#saveQ2Btn').attr('href', 'apply-check.html');
    });

    $('#education-uk-yes').on('change', function() {
      $('#saveQ2Btn').attr('href', 'questionnaire-03.html');
    });

  });
</script>