---
pageTitle: Your education
applicationPart: 7
applicationPage: diversityQuestions
---

{{> progress-indicator }}

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

{{> diversity-panel }}


<fieldset>
  <legend class="form-label">At the age of 14 did you live in the UK?</legend>
  <div class="form-group inline">
    <label data-target="education-uk-panel" for="education-uk-yes" class="block-label">
      <input name="education-uk" type="radio" id="education-uk-yes" aria-controls="education-uk-panel" aria-expanded="false">Yes
    </label>
    <label data-target="education-ew-panel" for="education-uk-no" class="block-label">
      <input name="education-uk" type="radio" id="education-uk-no" aria-controls="education-ew-panel" aria-expanded="false">No
    </label>
  </div>

  <div id="education-uk-panel" class="toggle-content" aria-hidden="true">
    <section>
      <div class="form-group form-group-compound">
        <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
        <input type="text" id="homePostcode" class="form-control form-control-1-4">
      </div>

      <div class="form-group">
        <label for="postcode-dontremember" class="block-label" data-distarget="homePostcode">
          <input type="checkbox" id="postcode-dontremember">I don't know/prefer not to say
        </label>
      </div>
    </section>

    <section>
      <div class="form-group form-group-compound">
        <label class="form-label text" for="schoolAttended">What was the name of the school you attended when you were 14?</label>
        <input type="text" id="schoolAttended" class="form-control">
      </div>

      <div class="form-group">
        <label for="school-dontremember" class="block-label" data-distarget="schoolAttended">
          <input type="checkbox" id="school-dontremember">I don't know/prefer not to say
        </label>
      </div>
    </section>

    <section>
      <div class="text">
        <p class="form-label">During your school years, were you at any time eligible for free school meals? </p>
        <div class="form-group inline">
          <label for="freeSchoolMeals-yes" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
          </label>
          <label for="freeSchoolMeals-no" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
          </label>
          <label for="freeSchoolMeals-remember" class="block-label">
            <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-remember">I don't know/prefer not to say
          </label>
        </div>
      </div>
    </section>

    <div>
      <a href="questionnaire-03.html" class="button">Save and continue</a>
    </div>
  </div>

  <div id="education-ew-panel" class="toggle-content" aria-hidden="true">
    <div class="text">
      <h2 class="heading-medium">No more questions</h2>
      <p>As you didn't live in the UK at the age of 14 we don't need to ask you any more questions.</p>
      <p>You can now continue to the check your application page.</p>
    </div>

    <div>
      <a href="apply-check.html" class="button">Save and continue</a>
    </div>
  </div>
</fieldset>

