---
pageTitle: About your parents
applicationPart: 7
applicationPage: diversityQuestions
---

{{> progress-indicator }}

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

{{> diversity-panel }}

<section>
  <div class="text">
    <p class="form-label">Did any of your parent(s) or guardian(s) complete a university degree course or equivalent? </p>
    <div class="form-group inline">
      <label for="university-yes" class="block-label">
        <input name="university" type="radio" id="university-yes">Yes
      </label>
      <label for="university-no" class="block-label">
        <input name="university" type="radio" id="university-no">No
      </label>
      <label for="university-remember" class="block-label">
        <input name="university" type="radio" id="university-remember">I don't know/prefer not to say
      </label>
    </div>
  </div>
</section>


<div id="hideIfUnemp">




</div>

<div class="form-group">
    <p class="form-label">When you were 14, was your highest earning parent / guardian</p>
    <div>
      <label for="occupation-09" class="block-label">
        <input type="radio" name="occupations" id="occupation-09" class="hidesContent hidesOccupations">Unemployed but seeking work
      </label>
    </div>
    <div>
      <label for="occupation-10" class="block-label">
        <input type="radio" name="occupations" id="occupation-10" class="hidesContent hidesOccupations">Unemployed
      </label>
    </div>
    <div>
      <label for="occupation-11" class="block-label">
        <input type="radio" name="occupations" id="occupation-11" class="showsContent showsOccupations">Employed/Self-employed
      </label>
    </div>
    <div>
      <label for="occupation-12" class="block-label">
        <input type="radio" name="occupations" id="occupation-12" class="hidesContent hidesOccupations">I don't know/prefer not to say
      </label>
    </div>
  </div>

  <div class="hidingOccupations initiallyHidden">
    <div>
     <section>
       <fieldset>
        <legend class="form-label">When you were 14, what kind of work did your highest-earning parent do?</legend>
         <table class="grid-2-3">
           <colgroup>
             <col class="t60">
             <col class="t40">
             <col>
           </colgroup>
           <thead>
             <tr>
               <th>Examples</th>
               <th>Type of work</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>Accountant, solicitor, medical practitioner, scientist, civil/mechanical engineer </td>
               <td>
                 <label for="occupation-08" class="block-label">
                   <input type="radio" name="occupations" id="occupation-08">Traditional professional
                 </label>
               </td>
             </tr>
             <tr>
               <td>Teacher/lecturer, nurse, physiotherapist, social worker, welfare officer, artist, musician, police officer (sergeant or above), software designer </td>
               <td>
                 <label for="occupation-01" class="block-label">
                   <input type="radio" name="occupations" id="occupation-01">Modern professional
                 </label>
               </td>
             </tr>
             <tr>
               <td>Secretary, personal assistant, clerical worker, office clerk, call centre agent, nursing auxiliary, nursery nurse</td>
               <td>
                 <label for="occupation-02" class="block-label">
                   <input type="radio" name="occupations" id="occupation-02">Clerical (office work) and intermediate
                 </label>
               </td>
             </tr>
             <tr>
               <td>Usually responsible for planning, organising and co-ordinating work and for finance such as: finance manager, chief executive </td>
               <td>
                 <label for="occupation-03" class="block-label">
                   <input type="radio" name="occupations" id="occupation-03">Senior managers and administrators
                 </label>
               </td>
             </tr>
             <tr>
               <td>Motor mechanic, fitter, inspector, plumber, printer, tool maker, electrician, gardener, train driver</td>
               <td>
                 <label for="occupation-04" class="block-label">
                   <input type="radio" name="occupations" id="occupation-04">Technical and craft
                 </label>
               </td>
             </tr>
             <tr>
               <td>HGV driver, van driver, cleaner, porter, packer, sewing machinist, messenger, labourer, waiter / waitress, bar staff </td>
               <td>
                 <label for="occupation-06" class="block-label">
                   <input type="radio" name="occupations" id="occupation-06">Routine manual and service
                 </label>
               </td>
             </tr>
             <tr>
               <td>Postal worker, machine operative, security guard, caretaker, farm worker, catering assistant, receptionist, sales assistant </td>
               <td>
                 <label for="occupation-05" class="block-label">
                   <input type="radio" name="occupations" id="occupation-05">Semi-routine manual and service
                 </label>
               </td>
             </tr>
             <tr>
               <td>Office manager, retail manager, bank manager, restaurant manager, warehouse manager, publican </td>
               <td>
                 <label for="occupation-07" class="block-label">
                   <input type="radio" name="occupations" id="occupation-07">Middle or junior managers
                 </label>
               </td>
             </tr>
           </tbody>
         </table>
       </fieldset>
     </section>
   </div>

   <section>
     <fieldset>
       <legend class="form-label">Did they work as an employee or were they self employed?</legend>
      <div class="form-group inline">
        <div>
          <label for="employeeor-employee" class="block-label">
            <input name="employeeor" type="radio" id="employeeor-employee">Employee
          </label>
        </div>
        <div>
          <label for="employeeor-selfwemp" class="block-label">
            <input name="employeeor" type="radio" id="employeeor-selfwemp">Self-employed with employees
          </label>
        </div>
        <div>
          <label for="employeeor-selfwoemp" class="block-label">
            <input name="employeeor" type="radio" id="employeeor-selfwoemp">Self-employed/freelancer without employees
          </label>
        </div>
        <div>
          <label for="employeeor-no" class="block-label">
            <input name="employeeor" type="radio" id="employeeor-no">I don't know/prefer not to say
          </label>
        </div>
      </div>
     </fieldset>
    </section>


    <section>
     <fieldset>
       <legend class="form-label">Which size would best describe their place of work?</legend>
      <div class="form-group inline">
        <div>
          <label for="company-size-small" class="block-label">
            <input name="company-size" type="radio" id="company-size-small">Small (1 to 24 employees)
          </label>
        </div>
        <div>
          <label for="company-size-large" class="block-label">
            <input name="company-size" type="radio" id="company-size-large">Large (over 24 employees)
          </label>
        </div>
        <div>
          <label for="company-size-no" class="block-label">
            <input name="company-size" type="radio" id="company-size-no">I don't know/prefer not to say
          </label>
        </div>
      </div>
     </fieldset>
    </section>

   <section>
     <fieldset>
       <legend class="form-label">Did they supervise employees?</legend>
      <div class="form-group inline">
        <label for="supervise-yes" class="block-label">
          <input name="supervise" type="radio" id="supervise-yes">Yes
        </label>
        <label for="supervise-no" class="block-label">
          <input name="supervise" type="radio" id="supervise-no">No
        </label>
        <label for="supervise-dunno" class="block-label">
          <input name="supervise" type="radio" id="supervise-dunno">I don't know/prefer not to say
        </label>
      </div>
     </fieldset>
    </section>
 </div>
</section>


<div>
  <a href="apply-check.html" class="button">Save and continue</a>
</div>