---
pageTitle: Your education
applicationPart: 7
applicationPage: diversityQuestions
---

{{> progress-indicator }}

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

{{> diversity-panel }}

<section>
  <div class="form-group form-group-compound">
    <label class="form-label" for="homePostcode">What was your home postcode when you were 14?</label>
    <input type="text" id="homePostcode" class="form-control form-control-1-4">
  </div>

  <div class="form-group">
    <label for="postcode-dontremember" class="block-label" data-distarget="homePostcode">
      <input type="checkbox" id="postcode-dontremember">I don't know/prefer not to say
    </label>
  </div>
</section>

<section>
  <div class="form-group form-group-compound">
    <label class="form-label text" for="schoolAttended">Aged 14, what was the name of the school you attended?</label>
    <input type="text" id="schoolAttended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school-dontremember" class="block-label" data-distarget="schoolAttended">
      <input type="checkbox" id="school-dontremember">I don't know/prefer not to say
    </label>
  </div>
</section>

<section>
  <div class="text">
    <p class="form-label">During your school years, were you at any time eligible for free school meals? </p>
    <div class="form-group inline">
      <label for="freeSchoolMeals-yes" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-yes">Yes
      </label>
      <label for="freeSchoolMeals-no" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-no">No
      </label>
      <label for="freeSchoolMeals-remember" class="block-label">
        <input name="freeSchoolMeals" type="radio" id="freeSchoolMeals-remember">I don't know/prefer not to say
      </label>
    </div>
  </div>
</section>

<section>
  <div class="form-group form-group-compound">
    <label class="form-label text" for="universityAttended">What is the name of the university or college you received your degree from? (if applicable)</label>
    <span class="form-hint text">If you haven't received your degree yet, enter the name of your current university or college</span>
    <input type="text" id="universityAttended" class="form-control">
  </div>

  <div class="form-group">
    <label for="school2-dontremember" class="block-label" data-distarget="universityAttended">
      <input type="checkbox" id="school2-dontremember">I don't know/prefer not to say/not applicable
    </label>
  </div>
</section>

<div>
  <a href="questionnaire-03.html" class="button">Save and continue</a>
</div>

<script src="{{assets}}/js/vendor/jquery-ui-custom.js"></script>
<script src="{{assets}}/js/universities.js"></script>


