---
pageTitle: Before you continue
applicationPart: 4
applicationPage: diversityQuestions
---

{{> progress-indicator }}

<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<section>
  <div class="text">
    <p>We have a few more questions before you submit your application.</p>
  </div>

  <div class="panel-warning standard-panel">
    <div class="text">
      <p>The following questions are:</p>
      <ul class="no-btm-margin">
        <li>for information monitoring only</li>
        <li>not part of your application</li>
        <li>treated in strict confidence</li>
        <li>to make sure the Civil Service is a <a href="https://www.gov.uk/government/organisations/civil-service/about/equality-and-diversity" rel="external" target="_blank">diverse organisation</a></li>
      </ul>
    </div>
  </div>

  <div class="text">
    <p>For security reasons, once you save a page you won't be able to go back and change your answers.</p>
  </div>
</section>

<!-- <div class="form-group">
  <label for="accept-terms" class="block-label">
    <input type="checkbox" id="accept-terms">I understand this won't affect my application
  </label>
</div> -->

<a href="questionnaire-01.html" class="button">Start questions</a>

