---
pageTitle: Choose up to 5 schemes
applicationPart: 2
applicationPage: schemePreferences
---

{{> progress-indicator }}

<div class="hgroup text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="grid-wrapper">
  <section class="grid grid-2-3">
    <div class="inner-block-padr">
      <ul class="schemes-list">
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-01" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-01" data-schemename>Central Departments
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-02" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-02" data-schemename>Commercial
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-03" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-03" data-schemename>Digital and Technology
          </label>
          <span class="alwayshidden" data-scheme-req>2:1 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-04" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-04" data-schemename>Diplomatic Service
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-05" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-05" data-schemename>European
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-06" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-06" data-schemename>Finance
          </label>
          <span class="alwayshidden" data-scheme-req>2:1 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-07" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-07" data-schemename>Government Communication Service
          </label>
          <span class="alwayshidden" data-scheme-req>2:1 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-08" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-08" data-schemename>Government Economic Service
          </label>
          <span class="alwayshidden" data-scheme-req data-spec-scheme>2:1 degree in economics or a 2:2 with a postgraduate qualification in economics <a class="font-xsmall inl-block" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-economic-service#eligibility" rel="external" target="_blank">(Specific requirements)</a></span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-09" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-09" data-schemename>Government Operational Research Service
          </label>
          <span class="alwayshidden" data-scheme-req data-spec-scheme>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification <a class="font-xsmall inl-block" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-operational-research-service#eligibility" rel="external" target="_blank">(Specific requirements)</a></span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-10" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-10" data-schemename>Government Social Research Service
          </label>
          <span class="alwayshidden" data-scheme-req data-spec-scheme>2:1 degree in social science or a 2:2 with a postgraduate qualification in social research <a class="font-xsmall inl-block" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-social-research-service#eligibility" rel="external" target="_blank">(Specific requirements)</a></span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-11" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-11" data-schemename>Government Statistical Service
          </label>
          <span class="alwayshidden" data-scheme-req data-spec-scheme>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification <a class="font-xsmall inl-block" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-statistical-service#eligibility" rel="external" target="_blank">(Specific requirements)</a></span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-12" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-12" data-schemename>Houses of Parliament
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-13" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-13" data-schemename>Human Resources
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-14" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-14" data-schemename>Project Delivery
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-15" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-15" data-schemename>Science and Engineering
          </label>
          <span class="alwayshidden" data-scheme-req data-spec-scheme>2:1 degree, plus either chartered engineer status or a postgraduate degree in a relevant subject <a class="font-xsmall inl-block" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-science-and-engineering#eligibility" rel="external" target="_blank">(Specific requirements)</a></span>
        </li>
        <li class="scheme-container">
          <span class="selected-preference invisible">N/A</span>
          <label for="scheme-16" class="block-label block-label-slim">
            <input type="checkbox" id="scheme-16" data-schemename>Tax
          </label>
          <span class="alwayshidden" data-scheme-req>2:2 degree in any subject</span>
        </li>
      </ul>
    </div>
    &nbsp;
  </section>
  <div class="grid grid-1-3">
    <div class="scheme-info-panel">
      <p class="bold-small">Choose your <span id="chooseNextPreference">1st preference</span></p>
    </div>
  </div>
</div>

<section id="selectedPreferences">
  <h2 class="heading-medium">Your chosen schemes</h2>
  <div class="panel-indent">
    <p>You can have up to 5 preferences in total.</p>
  </div>
  <div data-scheme-placeholder>
    <div class="scheme-warning text">
      <p>Your schemes will appear here as you select them from the list.</p>
    </div>
  </div>
  <ol id="selectedPrefList" class="list-text">
    <li></li>
  </ol>
  &nbsp;
</section>

<section class="text clearfix">
  <h2 class="heading-medium">Are you eligible for your chosen schemes?</h2>
  <p>Make sure you're <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes" target="_blank" rel="external">eligible</a> for your chosen schemes.</p>
  <fieldset>
    <legend class="form-label visuallyhidden">Are you eligible for your chosen schemes?</legend>
    <div class="form-group form-group-compound">
      <label for="eligible-yes" class="block-label">
        <input name="eligible" type="radio" id="eligible-yes">Yes
      </label>
      <label for="eligible-no" class="block-label">
        <input name="eligible" type="radio" id="eligible-no">No
      </label>
    </div>
  </fieldset>
</section>

<section class="text clearfix">
  <h2 class="heading-medium">Are you open to alternative schemes?</h2>
  <p>If your application is unsuccessful for your preferred schemes, we may suggest alternative schemes on the Fast Stream.</p>
  <fieldset>
    <legend class="form-label visuallyhidden">Are you open to alternative schemes?</legend>
    <div class="form-group form-group-compound">
      <label for="alternatives-yes" class="block-label">
        <input name="alternatives" type="radio" id="alternatives-yes">Yes
      </label>
      <label for="alternatives-no" class="block-label">
        <input name="alternatives" type="radio" id="alternatives-no">No
      </label>
    </div>
  </fieldset>
</section>

<a href="assistance.html" id="schemeSaveBtn" class="button">Save and continue</a>


<script>
  $(function(){
    var isCivilServant = $.jStorage.get('civilServant'),
        schemePrefArray = ['Empty'],
        preferencesAs123 = ['1st', '2nd', '3rd', '4th', '5th'],
        preferencesAsText = [
                              '1st preference',
                              '2nd preference',
                              '3rd preference',
                              '4th preference',
                              '5th preference'
                            ];

    $('[data-schemename]').on('change', function() {
      var $this = $(this),
          thisScheme = $this.closest('.block-label').text(),
          thisSchemeID = $this.attr('id'),
          schemeReq = $this.closest('.scheme-container').find('[data-scheme-req]').html(),
          isSpecial = $this.closest('.scheme-container').find('[data-spec-scheme]').length,
          specialEligibility = isSpecial == 0 ? '<p class="font-xsmall no-btm-margin">Requires at least a ' + schemeReq + '</p>' : '<div class="scheme-warning text"><p class="font-xsmall">Requires at least a ' + schemeReq + '</p></div>',
          arrayPosition = $.inArray(thisSchemeID, schemePrefArray),
          emptyPosition = $.inArray('Empty', schemePrefArray);


      if(arrayPosition >= 0) {
        //Do nothing
      } else if($this.is(':checked')) {
        if(emptyPosition < 0) {
          schemePrefArray.push(thisSchemeID);
        } else {
          schemePrefArray.splice(emptyPosition, 1, thisSchemeID);
        }
        var arrayPositionNow = $.inArray(thisSchemeID, schemePrefArray);

        if(isCivilServant === true) {
          $('#selectedPrefList li').eq(arrayPositionNow).after('<li class="med-btm-margin scheme-prefcontainer" data-scheme-id="' + thisSchemeID + '"><span data-schemeorder>' + preferencesAsText[arrayPositionNow] + '</span><div class="width-all-1-1"><span class="bold-small" data-schemenameinlist>' + thisScheme + '</span><p>You\'re eligibile as a current civil servant</p></div>');
        } else {
          $('#selectedPrefList li').eq(arrayPositionNow).after('<li class="med-btm-margin scheme-prefcontainer" data-scheme-id="' + thisSchemeID + '"><span data-schemeorder>' + preferencesAsText[arrayPositionNow] + '</span><div class="width-all-1-1"><span class="bold-small" data-schemenameinlist>' + thisScheme + '</span>' + specialEligibility + '</div>');
        }



        $this.closest('.scheme-container').addClass('selected-scheme').find('.selected-preference').text(preferencesAs123[arrayPositionNow]).removeClass('invisible');

      }

      if(!$this.is(':checked')) {
        schemePrefArray.splice(arrayPosition, 1, 'Empty');
        $('#selectedPrefList').find('[data-scheme-id="' + thisSchemeID + '"]').remove();

        $this.closest('.scheme-container').removeClass('selected-scheme').find('.selected-preference').text('N/A').addClass('invisible');
      }

      if($('input[data-schemename]:checked').length == 5) {
        $('input[data-schemename]:not(:checked)').attr('disabled', true).closest('.block-label').addClass('disabled');
      } else {
        $('input[data-schemename]:not(:checked)').attr('disabled', false).closest('.block-label').removeClass('disabled');
      }

      if($('input[data-schemename]:checked').length > 0 ) {
        $('[data-scheme-placeholder]').addClass('toggle-content');
      } else {
        $('[data-scheme-placeholder]').removeClass('toggle-content');
      }


    });

  });
</script>