---
pageTitle: Choose your schemes
---
<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <h1 class="heading-xlarge" id="choosePrefLocFramHeading">{{ pageTitle }}</h1>
  </div>
  <div class="grid grid-1-3">
  </div>
</div>

<section>
  <div class="form-group">
    <label class="form-label" for="preferredScheme">What is your preferred scheme?</label>
    <select name="" id="preferredScheme">
      <option value="">-- Choose one --</option>
      <option value="schemePref01">Government Economic Service</option>
      <option value="schemePref02">Government Statistical Service</option>
      <option value="schemePref03">Government Social Researchers</option>
      <option value="schemePref04">Government Operational Research Service</option>
      <option value="schemePref05">Commercial</option>
      <option value="schemePref06">Finance</option>
      <option value="schemePref07">European</option>
      <option value="schemePref08">Government Communication Services</option>
      <option value="schemePref09">Human Resources</option>
      <option value="schemePref10">Project Delivery</option>
      <option value="schemePref11">Digital and Technology</option>
      <option value="schemePref12">Tax</option>
      <optgroup label="Generalist">
        <option value="schemePref13">Central Departments</option>
        <option value="schemePref14">Diplomatic Service</option>
        <option value="schemePref15">Science and Engineering</option>
        <option value="schemePref16">Houses of Parliament</option>
      </optgroup>
    </select>
  </div>

  <div class="text">
    <p>Once you've selected your preferred scheme you can then select the other schemes that you'd like to be considered for.</p>
  </div>

  <details class="text" id="otherSchemes">
    <summary>Select other schemes</summary>
    <ul class="detail-content list-text list-checkradio" id="otherSchemesList">
      <li><input type="checkbox" name="schemePreferences" id="schemePref01"><label for="schemePref01">Government Economic Service</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref02"><label for="schemePref02">Government Statistical Service</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref03"><label for="schemePref03">Government Social Researchers</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref04"><label for="schemePref04">Government Operational Research Service</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref05"><label for="schemePref05">Commercial</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref06"><label for="schemePref06">Finance</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref07"><label for="schemePref07">European</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref08"><label for="schemePref08">Government Communication Services</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref09"><label for="schemePref09">Human Resources</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref10"><label for="schemePref10">Project Delivery</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref11"><label for="schemePref11">Digital and Technology</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref12"><label for="schemePref12">Tax</label></li>
      <li class="bold-small">Generalist:</li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref13"><label for="schemePref13">Central Departments</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref14"><label for="schemePref14">Diplomatic Service</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref15"><label for="schemePref15">Science and Engineering</label></li>
      <li><input type="checkbox" name="schemePreferences" id="schemePref16"><label for="schemePref16">Houses of Parliament</label></li>
    </ul>
  </details>
</section>

<h2 class="heading-medium">Eligibility</h2>

<div class="text panel-indent">
  <p>Before you apply, make sure you're <a href="https://www.gov.uk/guidance/civil-service-fast-stream-who-can-apply" target="_blank" rel="external">eligible</a> for the scheme(s) that you've selected.</p>
</div>

<div class="form-group">
  <label for="accept-eligible" class="block-label">
    <input type="checkbox" id="accept-eligible"> I confirm that I'm eligible to apply
  </label>
</div>

<a href="assistance.html" class="button">Save and continue</a>

<script>
  $(function() {
    $('#preferredScheme').on('change', function() {
      var thisVal = $(this).val(),
          thisListItem = $('#' + thisVal).closest('li');

      thisListItem.addClass('disabled').find('input').attr('checked', false);
      $('#otherSchemes li').not(thisListItem).removeClass('disabled');

      if(!$('#otherSchemesList').is(':visible')) {
        $('#otherSchemes summary').trigger('click');
      }
    });
  });
</script>