---
pageTitle: Schemes and eligibility
---

<div class="hgroup text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
  <p>Select what schemes(s) to apply for. You can apply for any scheme that you're eligible for.</p>
</div>

<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-central-departments">Central Departments</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-01" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-01">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-commercial-and-finance/civil-service-fast-stream-commercial">Commercial</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-02" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-02">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-digital-and-technology/fast-stream-digital-and-technology">Digital and Technology</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-03" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-03">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-diplomatic-service">Diplomatic Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-04" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-04">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-europe/fast-stream-european">European</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-05" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-05">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Finance</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-06" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-06">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-government-communication-service/fast-stream-government-communication-service">Government Communication Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-07" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-07">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-economic-service">Government Economic Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in economics or a 2:2 with a postgraduate qualification in economics</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-08" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-08">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-operational-research-service">Government Operational Research Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-09" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-09">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-social-research-service">Government Social Research Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in social science or a 2:2 with a postgraduate qualification in social research</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-10" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-10">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-statistical-service">Government Statistical Service</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-11" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-11">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-houses-of-parliament">Houses of Parliament</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-12" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-12">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-human-resources-profession/fast-stream-human-resources-profession">Human Resources</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-13" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-13">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-project-delivery/fast-stream-project-delivery">Project Delivery</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-14" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-14">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-science-and-engineering">Science and Engineering</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:1 degree, plus either chartered engineer status or a postgraduate degrepin a relevant subject</td>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-15" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-15">Select scheme
    </label>
  </div>
</section>
<section class="grid-wrapper section-border">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <h2 class="heading-small"><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Tax</a></h2>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <p>2:2 degree in any subject</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <label for="scheme-16" class="block-label block-label-slim">
      <input type="checkbox" id="scheme-16">Select scheme
    </label>
  </div>
</section>

<a href="scheme-preference.html" id="schemeSaveBtn" class="button">Save and continue</a>

<script>
  $(function(){
    var selectedSchemeIDs = $.jStorage.get('schemesSelectedIDs');

    if (selectedSchemeIDs !== null) {
      $.each(selectedSchemeIDs, function(key,value) {
        var theSchemeID = value;

        $(theSchemeID).prop('checked', true);
      });
    }

  });
</script>