---
pageTitle: Before you select your schemes
---

<div class="text">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<div class="panel-indent text">
  <p class="lede">
    Make sure you know which schemes you're eligible for.
  </p>
</div>
<table>
  <colgroup>
    <col class="t40"/>
    <col class="t0"/>
    <col/>
  </colgroup>
  <thead>
    <tr>
      <th>Schemes</th>
      <th>Qualifications required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-central-departments">Central Departments</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-commercial-and-finance/civil-service-fast-stream-commercial">Commercial</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-digital-and-technology/fast-stream-digital-and-technology">Digital and Technology</a></td>
      <td>2:1 degree in any subject</td>
    </tr>
    <tr>
      <td>
      <a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-diplomatic-service">Diplomatic Service</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-europe/fast-stream-european">European</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Finance</a></td>
      <td>2:1 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-government-communication-service/fast-stream-government-communication-service">Government Communication Service</a></td>
      <td>2:1 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-economic-service">Government Economic Service</a></td>
      <td>2:1 degree in economics or a 2:2 with a postgraduate qualification in economics</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-operational-research-service">Government Operational Research Service</a></td>
      <td>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-social-research-service">Government Social Research Service</a></td>
      <td>2:1 degree in social science or a 2:2 with a postgraduate qualification in social research</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-analytical-fast-streams/civil-service-fast-stream-government-statistical-service">Government Statistical Service</a></td>
      <td>2:1 degree in a numerate subject or a 2:2 with a relevant postgraduate qualification</td>
    </tr>
    <tr>
      <td>
      <a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-houses-of-parliament">Houses of Parliament</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-human-resources-profession/fast-stream-human-resources-profession">Human Resources</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-project-delivery/fast-stream-project-delivery">Project Delivery</a></td>
      <td>2:2 degree in any subject</td>
    </tr>
    <tr>
      <td>
      <a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-generalist-fast-stream/fast-stream-science-and-engineering">Science and Engineering</a></td>
      <td>2:1 degree, plus either chartered engineer status or a postgraduate degree in a relevant subject</td>
    </tr>
    <tr>
      <td><a rel="external" target="_blank" class="link-unimp" href="https://www.gov.uk/government/publications/civil-service-fast-stream-finance/fast-stream-finance">Tax</a></td>
      <td>2:1 degree in any subject</td>
    </tr>
  </tbody>
</table>

<a href="scheme-selection.html" class="button">Choose your schemes</a>

