---
pageTitle: Scheme eligibility
---

<h1 class="heading-xlarge">{{ pageTitle }}</h1>

<div class="panel-indent text">
  <p class="lede">
    Before you select your schemes make sure you're eligible to apply for them.
  </p>
  <p class="lede">
    See the scheme <a href="https://www.gov.uk/guidance/civil-service-fast-stream-graduate-schemes" target="_blank" rel="external">eligibility criteria</a>.
  </p>
</div>
<p></p>

<a href="scheme-selection.html" class="button">Choose your schemes</a>

