---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<div class="text">
  <h2 class="heading-large">What happens next?</h2>

  <p>The next step is to complete the online exercises.</p>

  <p><a href="profile-home-submitted.html">Return to home</a> to view the next steps, you can also take some practice tests before you start the real thing.</p>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

</div>