---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<section class="section-border">
  <div class="text">
    <h2 class="heading-large">What happens next?</h2>

    <p>The next step is to complete the online exercises.</p>

    <p><a href="profile-home-submitted.html">Return to home</a> to view the next steps, you can also take some practice tests before you start the real thing.</p>

    <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>
  </div>
</section>

<section>
  <h2 class="heading-large">Other graduate programmes</h2>
  <div class="text">
    <p>At the Civil Service we want to make sure you're aware of the other graduate schemes that are available. If you're thinking of applying for other graduate schemes then please let us know.</p>
    <p>If you successfully make it through the assessment centre stage of the Civil Service Fast Stream you can still defer your application. Your place will be kept open for you to join us at a later date.</p>
  </div>
  <fieldset>
    <legend class="form-label">Are you interested in other graduate programmes?</legend>
    <div class="form-group">
      <label data-target="othergrad-panel" for="othergrad-yes" class="block-label">
        <input name="othergrad" type="radio" id="othergrad-yes" aria-controls="othergrad-panel" aria-expanded="false">Yes
      </label>
      <label for="othergrad-no" class="block-label">
        <input name="othergrad" type="radio" id="othergrad-no">No
      </label>
    </div>
    <div id="othergrad-panel" class="toggle-content">
      <section class="clearfix">
        <fieldset>
          <legend class="form-label">Which graduate programmes are you interested in?</legend>
          <p class="text">Your name and email address will be sent to the programmes that you choose.</p>
          <div>
            <label for="programme-01" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-01">European Commission
            </label>
          </div>
          <div>
            <label for="programme-02" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-02">Frontline
            </label>
          </div>
          <div>
            <label for="programme-03" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-03">Metropolitan Police
            </label>
          </div>
          <div>
            <label for="programme-04" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-04">MI5
            </label>
          </div>
          <div>
            <label for="programme-05" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-05">NHS
            </label>
          </div>
          <div>
            <label for="programme-06" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-06">Teach First
            </label>
          </div>
          <div>
            <label for="programme-07" class="block-label block-label-slim">
              <input name="programmes" type="checkbox" id="programme-07">Transport for London
            </label>
          </div>
        </fieldset>
      </section>
      <a href="profile-home-submitted.html?Status=othergrad" class="button">Send my details</a>
    </div>
  </fieldset>

</section>

