---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<section class="section-border clearfix">
  <fieldset>
    <legend class="form-label">Tell us how you heard about us? (optional)</legend>
    <div class="form-group inline">
      <label data-target="heardabout-panel" for="heardabout-yes" class="block-label">
        <input name="heardabout" type="radio" id="heardabout-yes" aria-controls="heardabout-panel" aria-expanded="false">Yes
      </label>
      <label for="heardabout-no" class="block-label">
        <input name="heardabout" type="radio" id="heardabout-no">No
      </label>
    </div>

    <div id="heardabout-panel" class="toggle-content" aria-hidden="true">
      <div class="form-group">
        <label for="hearAboutUs" class="form-label">Select how you heard about us</label>
        <select name="campaignReferrer" id="campaignReferrer" class="selectWithOptionTrigger">
          <option value="">Select one</option>
          <option value="National apprenticeship service">National apprenticeship service</option>
          <option value="notgoingtouni.co.uk">notgoingtouni.co.uk</option>
          <option value="Social media(Twitter/Facebook)">Social media(Twitter/Facebook)</option>
          <option value="Teachers/careers advisors">Teachers/careers advisors</option>
          <option value="Parent/friends/family">Parent/friends/family</option>
          <option value="Current apprentice/current civil servant">Current apprentice/current civil servant</option>
          <option value="Careers fair" class="optionTrigger" data-optiontrigger="hearAboutUsDetail">Careers fair</option>
          <option value="Google">Google</option>
          <option value="Other" class="optionTrigger" data-optiontrigger="hearAboutUsDetail">Other</option>
        </select>
      </div>
      <div class="form-group toggle-content" id="hearAboutUsDetail">
        <label for="hearAboutUsDetailControl" class="form-label">Provide more information (optional)</label>
        <input type="text" id="hearAboutUsDetailControl" class="form-control">
      </div>

      <div class="form-group">
        <a href="" class="button">Send response</a>
      </div>
    </div>
  </fieldset>

</section>

<div class="text">
  <h2 class="heading-large">What happens next?</h2>

  <p>The next step is to complete the online exercises.</p>

  <p><a href="profile-home-submitted.html">Return to home</a> to view the next steps, you can also take some practice tests before you start the real thing.</p>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

</div>