---
pageTitle: Application submitted
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you an email confirming your application</p>
</div>

<div class="text">
  <h2 class="heading-large">Online exercises</h2>

  <p>The next step is to complete the online exercises. These include two parts to test competency and situational judgement.</p>
  <p>You have 7 days to complete the exercises.</p>

  <a href="/tests/tests.html" class="button">Start online exercises</a>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

</div>