---
pageTitle: Video interview
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<h2 class="heading-medium">Question 1 of 3</h2>
<!--  <div class="panel-indent text">
    <p>This demo requires Firefox 29 or later, or Chrome 47 or later with <strong>Enable experimental Web Platform features</strong> enabled from chrome://flags.</p>
 </div> -->

<section>
  <div class="panel-indent text">
    <p class="lede">Leadership:<br> "Give an example of when you've shown leadership skills within a group of people"</p>
  </div>

  <p id="thinkingText">You now have <span id="timeCountdown">30</span> seconds to think before you record your answer.</p>
  <p>
    <a href="#" id="startRecordingBtn">Start recording now</a>
    <a href="#" id="stopRecordingBtn" class="toggle-content">Finish recording your answer</a>
  </p>

  <div id="recordVideo" class="video-recording-container">
    <span class="bold-small video-recording-indicator" id="timeToRecord"><i class="fa fa-video-camera" aria-hidden="true"></i><span id="recordingText">Time to record answer</span> <span id="videoTime">2:00</span></span>
    <video id="gum" autoplay muted class="width-all-1-1"></video>
  </div>
</section>

<a href="video-interview-assessor-2.html" class="button" id="saveButton">Save and continue</a>

<!-- include adapter for srcObject shim -->
<script src="{{assets}}/js/gum/adapter.js"></script>
<script src="{{assets}}/js/gum/main.js"></script>