---
pageTitle: Video interview
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>


<div class="grid-wrapper">
  <div class="grid grid-3-4">
    <h2 class="heading-medium">Question 2 of 3</h2>
    <video id="questionVideo" class="width-all-1-1">
      <source src="{{assets}}/img/video/Question-02.mp4" type="video/mp4">
    </video>
    <a href="#" class="button-link" id="videoPlay"><i class="fa fa-play" aria-hidden="true"></i>Play question video</a>
    <div class='panel-indent toggle-content text' id="writtenQuestion"><p>Problem solving:<br> Give an example of when you’ve come up with a good solution for a challenging problem. This could either be at university or at school or within a work environment.</p></div>
    <div class="disabled" id="recordAnswer">
      <a href="video-interview-record-2.html" class="button" id="recordAnswerButton">Record answer</a>
      <p id="autoRedirect" class="toggle-content">You'll be redirected to record your answer in <span id='timeCountdown'>10</span> seconds.</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    &nbsp;
  </div>
</div>