---
pageTitle: Video interview complete
---

<div class="success-banner">
  <h1 class="heading-large no-btm-margin"><i class="fa fa-check"></i>{{ pageTitle }}</h1>
</div>

<div class="panel-indent">
  <p><i class="fa fa-envelope-o"></i>We've sent you a confirmation email</p>
</div>

<div class="text">
  <h2 class="heading-large">What happens next?</h2>

  <p>You should hear back within 5 days for the results of your video interview.</p>

  <p><a href="/feedback.html" target="_blank">Give feedback?</a> (30 second survey)</p>

  <p>Finished with the service? <a href="profile-signin.html?Status=signout">Sign out</a>.</p>

</div>