---
pageTitle: Video interview
---

<div class="hgroup">
  <h1 class="heading-xlarge">{{ pageTitle }}</h1>
</div>

<section>
  <video id="instructionsVideo" class="width-all-1-1" controls>
    <source src="{{assets}}/img/video/Instructions.mp4" type="video/mp4">
  </video>
</section>

<div class="text">
  <p>On the following screens you'll be shown a video of an assessor reading out a question, you'll then record your answer using the webcam on your computer.</p>
  <p>There are 3 questions in total and the whole process should take less than 10 minutes.</p>
  <p class="small-btm-margin">For each question, you'll have:</p>
  <ul>
    <li>1 minute to watch the assessor</li>
    <li>30 seconds thinking time</li>
    <li>2 minutes to record your answer</li>
  </ul>
</div>

<div class="panel-indent text">
  <p>Before you start make sure you're in a quiet room with no distractions, and your camera and microphone are working correctly.</p>
</div>

<a href="video-interview-assessor.html" class="button">Start first question</a>


<script>
  $(function() {
    var video = document.getElementById("instructionsVideo");

    setTimeout(function() {

      video.play();
    }, 5000);

  });
</script>